DEBUG = True
SECRET_KEY = 'foo'

MONGODB_HOST = 'localhost'
MONGODB_PORT = 27017
MONGODB_NAME = 'test'
MONGODB_COLLECTION_1 = 'test'
MONGODB_COLLECTION_2 = 'test'
MONGODB_USERNAME = 'admin'
MONGODB_PASSWORD = 'admin'
